{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" href="{% static 'images\icon.png' %}" type="image/png">
    <title>TimeElegance | About Us</title>
</head>
<body class="container min-h-screen bg-black">
    <nav class="flex p-8">
        <a href="{% url 'homepage' %}" class="text-2xl text-white font-serif hover:text-gray-400 cursor-pointer">TimeElegance</a>
        <a href="{% url 'login' %}" class="ml-auto text-gray-400 hover:text-white cursor-pointer">LogOut</a>
    </nav>
    <div class="hover: cursor-default text-gray-300">
        <h1 class="text-font text-2xl text-white text-center font-medium">About Us</h1>
        <p class="text-white">Welcome to TimeElegance, where timeless elegance meets unparalleled craftsmanship. At TimeElegance, we are passionate about curating a collection of luxury watches that epitomize sophistication, precision, and style.</p>
        <h1 class="text-font text-2xl text-white text-center text-center font-medium">Our Story</h1>
        <p class="text-white">Founded with a vision to celebrate the artistry of horology, TimeElegance brings together an exquisite selection of timepieces from the world’s most renowned brands. Our journey began with a simple idea: to offer watch enthusiasts and collectors a curated range of the finest luxury watches, each one a masterpiece of design and engineering.</p>
        <h1 class="text-font text-2xl text-white text-center font-medium">Our Philosophy</h1>
        <p class="text-white">At TimeElegance, we believe that a watch is more than just a timekeeping device—it’s a statement of personal style and a symbol of achievement. Our commitment to excellence is reflected in every piece we offer, from classic to contemporary, each watch crafted to the highest standards of quality and precision.</p>
        <h1 class="text-font text-2xl text-white text-center font-medium">What Sets Us Apart</h1>
        <p class="text-white">Curated Selection: We handpick each watch to ensure it meets our exacting standards of quality and craftsmanship. Our collection features prestigious brands like Rolex, Hublot, and Patek Philippe, each known for their innovation and heritage.</p>
        <p class="text-white">Expertise: Our team comprises seasoned watch experts with a deep appreciation for the art of watchmaking. We are dedicated to providing you with the knowledge and insights you need to make an informed choice.</p>
        <p class="text-white">Customer Experience: From the moment you explore our collection to the delivery of your chosen timepiece, we strive to offer an exceptional shopping experience. Our customer service team is here to assist you with any queries and ensure your satisfaction.</p>  
        <h1 class="text-font text-2xl text-white text-center font-medium">Our Mission</h1>
        <p class="text-white">Our mission is to bring the world of luxury watches closer to you, offering a seamless and enjoyable experience whether you're adding to your collection or purchasing your first high-end timepiece. We are committed to maintaining the highest standards of service and ensuring that every watch we offer is a true work of art.</p> 
        <h1 class="text-font text-2xl text-white text-center text-center font-medium">Join Us on Our Journey</h1>
        <p class="text-white">We invite you to explore our collection and discover the perfect watch that resonates with your style and personality. At TimeElegance, every watch tells a story, and we are honored to be part of yours.</p>
        <p class="text-white">Thank you for choosing TimeElegance. We look forward to serving you and helping you find the timepiece of your dreams.</p>
        
        <br>
        <br>

        <h1 class="text-font text-2xl text-white text-center text-center font-medium">Contact Us</h1>
        <p class="text-white">We'd love to hear from you! Whether you have questions about our watches, need assistance with your order, or just want to say hello, our team is here to help.</p>
        <h1 class="text-font text-2xl text-white text-center text-center font-medium">Get in Touch</h1>
        <p class="text-white">Email: info@TimeElegance.com  Phone: +1 (981) 456-7890  Address: Bay Area, Calfornia, USA</p>
        <h1 class="text-font text-2xl text-white text-center text-center font-medium">Customer Service Hours:</h1>
        <p class="text-white">Monday - Friday: 9:00 AM - 6:00 PM (EST) Saturday: 10:00 AM - 4:00 PM (EST) Sunday: Closed</p>
    </div>
    
</body>
</html>